<div class="navbar">
  <mat-toolbar color="primary" class="navbar-color">
    <mat-icon
      aria-hidden="false"
      aria-label="app-icon"
      fontIcon="assessment"
      class="icon"></mat-icon>
    <span>InstaInsight</span>

    <span class="spacer"></span>

    <button mat-button class="nav-button">Features</button>
    <button mat-button class="nav-button">Pricing</button>
    <button mat-button class="nav-button">Case Studies</button>

    <span class="spacer"></span>

    <button mat-raised-button color="accent" class="signin-button">
      SignIn
    </button>
    <button mat-flat-button color="accent" class="signup-button">SignUp</button>
  </mat-toolbar>
</div>
