.spacer {
  flex: 1 1 auto;
}

.signin-button {
  margin-right: 10px;
}

.signup-button {
  margin-right: 50px;
}

.nav-button {
  margin-right: 10px;
}

.icon {
  margin-left: 50px;
  margin-right: 2px;
}

.navbar {
  height: 13vh;
  min-height: 70px;
  padding-top: 2vh;
}

.navbar-color {
  display: flex;
  align-items: center;
  background: white;
}
