.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  height: 100%;
  font-size: 24px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

mat-grid-list {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

.card-image {
  height: 150px;
}
